<div class="list-group col-lg-10 offset-lg-1 col-12">
  <% messages.each do |message| %>
    <div class="list-group-item rounded row my-2 ml-2 mr-n1">
      <div class="col d-flex">
        <div>
          <a href="<%= user_path(message.from) %>">
            <% if message.from.avatar.attached? %>
              <%= image_tag message.from.forpost, class: "rounded-circle" %>
            <% else %>
              <i class="fas fa-user-circle fa-6x"></i>
            <% end %>
          </a>
        </div>
        <div class="d-flex align-items-center ml-2">
          <div>
            <%= message.from.name %>
          </div>
          <div>
            <% if message.from.kind %>
              <span class="badge badge-secondary ml-2">バリスタ</span>
            <% else %>
              <span class="badge badge-secondary ml-2">ユーザ</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-end">
        <div class="d-flex align-items-center mr-2">
          <div>
            <%= message.to.name %>
          </div>
          <div>
            <% if message.to.kind %>
              <span class="badge badge-secondary ml-2">バリスタ</span>
            <% else %>
              <span class="badge badge-secondary ml-2">ユーザ</span>
            <% end %>
          </div>
        </div>
        <div>
          <a href="<%= user_path(message.to) %>">
            <% if message.to.avatar.attached? %>
              <%= image_tag message.to.forpost, class: "rounded-circle" %>
            <% else %>
              <i class="fas fa-user-circle fa-3x text-dark"></i>
            <% end %>
          </a>
        </div>
      </div>
      <div class="col row mt-3 mb-n2">
        <div class="col">
          <p><%= message.content %></p>
        </div>
        <div>
          <% if current_user == message.from %>
            <%= link_to message, method: :delete, data: { confirm: "削除しますか？" }, class: 'text-dark d-flex justify-content-end' do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>