<div class="text-center">
  <h2>ログイン</h2>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <!--<p class="text-muted">email:test@test.com / password:test1111</p>-->
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "form-control", placeholder: "testuser: test@test.com" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-control", placeholder: "testuser: test1111" %>
      </div>
      
      <div class="form-group form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, "ログイン情報を記憶する", class: "form-check-label" %>
      </div>
      
      <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-sm" %>
    <% end %>
    
    <p class="text-right">登録はこちらから <%= link_to "ユーザー登録", signup_path, class: "text-decoration-none" %></p>
  </div>
</div>