<div class="row">
  <div class="col-5 offset-1">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.icon, class: "rounded-circle" %>
    <% else %>
      <i class="fas fa-user-circle fa-10x"></i>
    <% end %>
  </div>
  <div class="col-5">
    <ul class="nav row justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-dark flex-column text-decoration-none" href="<%= followings_user_path(@user) %>">
          <div class="text-center"><%= @count_followings %></div><div>フォロー</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark flex-column text-decoration-none" href="<%= followers_user_path(@user) %>">
          <div class="text-center"><%= @count_followers %></div><div>フォロワー</div>
        </a>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <%= render "relationships/follow_button", user: @user %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-10 offset-1 flex-column">
    <div class="my-2 ml-1">
      <strong><%= @user.name %></strong>
    </div>
    <div class="mb-2 ml-1">
      <%if @user.profile? %>
        <%= @user.profile %>
      <% end %>
    </div>
    <div class="mb-2 ml-1">
      <% if @user.sns? %>
        <%= link_to "#{@user.sns}", @user.sns, class: "text-dark text-decoration-none" %>
      <% end %>
    </div>
  </div>
  <% if current_user == @user %>
    <div class="col-10 offset-1 btn-group d-flex mb-3" role="group">
      <button type="button" class="btn btn-dark btn-block"><%=link_to "プロフィール編集", edit_user_path, class: "text-light text-decoration-none" %></button>
      <!--<button type="button" class="btn btn-dark">メッセージ作成</button>-->
      <!--<button type="button" class="btn btn-dark">投稿作成</button>-->
    </div>
  <% else %>
    <div class="col-10 offset-1">
      <%= form_with(model: @message, local: true) do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
          
        <%= f.hidden_field :to_id, :value => @user.id %>
          
        <div class="form-group">
          <%= f.text_area :content, class: "form-control" %>
        </div>
          
        <%= f.submit "メッセージ作成", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  <% end %>
  
  <div class="col-10 offset-1">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link text-dark text-decoration-none <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー</a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link text-dark text-decoration-none <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー</a></li>
    </ul>
    <%= render "users", users: @followings %>
  </div>
</div>