<div class="row">
  <div class="col-5 offset-1 row">
    <div>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.icon, class: "rounded-circle" %>
    <% else %>
      <i class="fas fa-user-circle fa-10x"></i>
    <% end %>
    </div>
    <div class="d-flex align-items-end ml-2 mb-2">
    <%= @user.name %>
    </div>
  </div>
  <div class="col-5">
    <div class="d-flex justify-content-end">
      <ul class="nav row">
        <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link">フォロー <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
        <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link">フォロワー <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
        <%= render "relationships/follow_button", user: @user %>
      </ul>
    </div>
  </div>

  <div class="col-10 offset-1">
    <%if @user.profile? %>
      <%= @user.profile %>
    <% end %>
  </div>
  
  <div class="col-10 offset-1 py-1">
    <% if @user.sns? %>
      <%= link_to "#{@user.sns}", @user.sns %>
    <% end %>
  </div>
  <% if current_user == @user %>
    <div class="col-10 offset-1 btn-group d-flex mb-3" role="group">
      <button type="button" class="btn btn-dark"><%=link_to "プロフィール編集", edit_user_path %></button>
      <!--<button type="button" class="btn btn-dark">メッセージ作成</button>-->
      <!--<button type="button" class="btn btn-dark">投稿作成</button>-->
    </div>
  <% else %>
    <div class="col-10 offset-1">
      <%= form_with(model: @message, local: true) do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
          
        <%= f.hidden_field :to_id, :value => @user.id %>
          
        <div class="form-group">
          <%= f.text_area :content, class: "form-control" %>
        </div>
          
        <%= f.submit "メッセージ作成", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  <% end %>
  
  <div class="col-10 offset-1">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー</a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー</a></li>
    </ul>
    <%= render "users", users: @followers %>
  </div>
</div>