<div class="row">
  <div class="col-5 offset-1 row">
    <div>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.icon, class: "rounded-circle" %>
    <% else %>
      <i class="fas fa-user-circle fa-10x"></i>
    <% end %>
    </div>
    <div class="d-flex align-items-end ml-2 mb-2">
    <%= @user.name %>
    </div>
  </div>
  <div class="col-5">
    <ul class="nav row justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link">フォロー</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロワー</a></li>
    </ul>
  </div>

  <div class="col-10 offset-1">
    <%if @user.profile? %>
      <%= @user.profile %>
    <% end %>
  </div>
  
  <div class="col-10 offset-1 py-1">
    <% if @user.sns? %>
      <%= link_to "#{@user.sns}", @user.sns %>
    <% end %>
  </div>
  <% if current_user == @user %>
    <div class="col-10 offset-1 btn-group d-flex mb-3" role="group">
      <button type="button" class="btn btn-dark"><%=link_to "プロフィール編集", edit_user_path %></button>
      <!--<button type="button" class="btn btn-dark">メッセージ作成</button>-->
      <!--<button type="button" class="btn btn-dark">投稿作成</button>-->
    </div>
  <% else %>
    <div class="col-10 offset-1">
      <%= form_with(model: @message, local: true) do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
          
        <%= f.hidden_field :to_id, :value => @user.id %>
          
        <div class="form-group">
          <%= f.label :content, "メッセージ" %>
          <%= f.text_area :content, class: "form-control" %>
        </div>
          
        <%= f.submit "作成", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  <% end %>
  
  <%= render "messages/messages", messages: @messages %>
</div>