<div class="row">
  <div class="col-lg-5 offset-lg-1 col-4">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.icon, class: "rounded-circle" %>
    <% else %>
      <i class="fas fa-user-circle fa-8x"></i>
    <% end %>
  </div>
  <div class="col-lg-5 col-8">
    <ul class="nav row justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-dark flex-column text-decoration-none user-navi" href="<%= user_path(@user) %>">
          <div class="text-center"><%= @count_messages %></div><div>メッセージ</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark flex-column text-decoration-none user-navi" href="<%= followers_user_path(@user) %>">
          <div class="text-center"><%= @count_followers %></div><div>フォロワー</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark flex-column text-decoration-none user-navi" href="<%= followings_user_path(@user) %>">
          <div class="text-center"><%= @count_followings %></div><div>フォロー</div>
        </a>
      </li>
    </ul>
    <div class="row">
      <div class="col-6 offset-6">
        <%= render "relationships/follow_button", user: @user %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1 col-12 flex-column">
    <div class="my-2 ml-1 d-flex">
      <strong><%= @user.name %></strong>
      <div>
        <% if @user.kind %>
          <span class="badge badge-secondary ml-2">バリスタ</span>
        <% else %>
          <span class="badge badge-secondary ml-2">ユーザ</span>
        <% end %>
      </div>
    </div>
    <div class="mb-2 ml-1">
      <%if @user.profile? %>
        <%= @user.profile %>
      <% end %>
    </div>
    <div class="mb-2 ml-1">
      <% if @user.sns? %>
        <%= link_to "#{@user.sns}", @user.sns, class: "text-dark text-decoration-none", :target=>["_blank"] %>
      <% end %>
    </div>
  </div>
  <% if current_user == @user %>
    <div class="col-lg-10 offset-lg-1 col-12 d-flex mb-3">
      <%=link_to "プロフィール編集", edit_user_path, class: "btn btn-dark btn-block btn-sm" %>
    </div>
  <% else %>
    <div class="col-lg-10 offset-lg-1 col-12">
      <%= form_with(model: @message, local: true) do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
          
        <%= f.hidden_field :to_id, :value => @user.id %>
          
        <div class="form-group">
          <%= f.text_area :content, class: "form-control" %>
        </div>
          
        <%= f.submit "送信", class: "btn btn-primary btn-block btn-sm" %>
      <% end %>
    </div>
  <% end %>

  <%= render "messages/messages", messages: @messages %>
</div>